.container{
    background: #E6F2F2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 40px 0 80px 0;
}
.section{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.mainSection{
    display: flex;
    gap: 32px;
    width: 80%;
    justify-content: space-between;
}