.btn {
    border: 1px solid #008080;
    background-color: transparent;
    color: #008080;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    padding: 9px 24px;
    transition: all 0.2s linear;
  }
  .btn:hover{
    background-color: #008080;
    color: white;
  }