
.image{
  width: 100%;
  height: 560px;
  background: #001A1A;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.cardMain{
  margin: 40px auto 80px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: start;
  width: 80%;
}