.container{
    height: 176px;
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    box-sizing: border-box;

}
@media only screen and (max-width: 767px) {
    .container{
        width: 100%;
    }  
    .img{
        height: 74px;
        width: 74px;
    }
}
.img{
    border-radius: 50%;
}
.nameContact{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 100%;
}

.nameSubtitleContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    gap: 8px;
}

.name{
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    color: #001A1A;
    font-family: IBMPlexMono-Bold, serif;

}

.subtitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #001A1A;
}